TexttoSpeechflow.json
[{"id":"1a542f7b.3aaea1","type":"tab","label":"Text to Speech Voice Flow","disabled":false,"info":""},{"id":"f07b273b.5485b8","type":"inject","z":"1a542f7b.3aaea1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.3","topic":"","payload":"All people are advised to wear mask and maintain social distancing. you may Pick a mask if u don't have one. Produced by IBM on the concern for  the citizens of the nation","payloadType":"str","x":150,"y":140,"wires":[["df1381f9.0e39d","f8f937af.2a1498"]]},{"id":"df1381f9.0e39d","type":"debug","z":"1a542f7b.3aaea1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":100,"wires":[]},{"id":"f8f937af.2a1498","type":"watson-text-to-speech","z":"1a542f7b.3aaea1","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/mp3","password":"","apikey":"xKD8MdTHhVHkCWvmwWMhpr40G7nRpuh3WcNcsTsm5djl","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/5f3cc742-3a2b-430d-ac55-263c9b7dc516","x":380,"y":200,"wires":[["26828403.a9c0ac","6920f024.f0687"]]},{"id":"26828403.a9c0ac","type":"debug","z":"1a542f7b.3aaea1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"speech","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"5d8e8d08.8d14a4","type":"play audio","z":"1a542f7b.3aaea1","name":"","voice":"0","x":830,"y":200,"wires":[]},{"id":"6920f024.f0687","type":"change","z":"1a542f7b.3aaea1","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["5d8e8d08.8d14a4"]]}]
